<h2 mat-dialog-title align="center">New Shipper:</h2>

<mat-dialog-content>
	<div fxLayout="column" fxLayoutAlign="center center">
		<form [formGroup]="form">
			<div>
				<mat-form-field appearance="fill">
					<mat-label>CompanyName</mat-label>
					<input matInput type="text" formControlName="name" required placeholder="ex. Andreani">
					<mat-error *ngIf="form.hasError('required', 'name')">CompanyName is required</mat-error>
                    <mat-error *ngIf="form.hasError('maxlength', 'name')">CompanyName max length is 40 characters</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Phone</mat-label>
					<input matInput type="text" formControlName="phone" placeholder="ex. (503) 123 - 456 - 789">
					<mat-error *ngIf="form.hasError('maxlength', 'phone')">Phone Max. Length is 24 characters</mat-error>
				</mat-form-field>
			</div>
		</form>

	</div>
</mat-dialog-content>

<div>
	<mat-progress-bar *ngIf="creating"  mode="indeterminate"></mat-progress-bar>
	<div mat-dialog-actions align="center">
		<button mat-flat-button color="primary" class="create-button" (click)="addShipper()">Agregar</button>
		<button mat-raised-button mat-dialog-close>Cerrar</button>
	</div>
</div>
